<% provide(:title, 'Home') %>
<html>
  <head>
    <title>Garden Exchange | <%=yield(:title)%></title>
  </head>

  <body>
    <h1>Welcome to the Garden Exchange</h1>
    <p>This is the home page of the Garden Exchange for a search list </p>
  </body>
</html>
