<% provide(:title,'Search List') %>
<html>
  <head>
    <title>Garden Exchange | <%=yield(:title)%></title>
  </head>

 <body>
  <h1>Garden Exchange | Search List</h1>
  <p>Insert here a search list</p>
  </body>
</html>
